:root {
  --fftitle:"Raleway";
  --ffbody:"Montserrat";
  --primary:#F16822;
  --secondary:#333333;
}
/* ------------------------------------------- */
/* ------------------ FONTS ------------------ */
/* ------------------------------------------- */

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
        url('../fonts/Montserrat/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Montserrat/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Montserrat/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Montserrat/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Montserrat/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Montserrat/montserrat-v15-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
        url('../fonts/Montserrat/montserrat-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Montserrat/montserrat-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Montserrat/montserrat-v15-latin-500.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Montserrat/montserrat-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Montserrat/montserrat-v15-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Montserrat/montserrat-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
          url('../fonts/Montserrat/montserrat-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/Montserrat/montserrat-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/Montserrat/montserrat-v15-latin-700.woff') format('woff'), /* Modern Browsers */
          url('../fonts/Montserrat/montserrat-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/Montserrat/montserrat-v15-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Raleway/raleway-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
        url('../fonts/Raleway/raleway-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Raleway/raleway-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Raleway/raleway-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Raleway/raleway-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Raleway/raleway-v19-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Raleway/raleway-v19-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
          url('../fonts/Raleway/raleway-v19-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/Raleway/raleway-v19-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/Raleway/raleway-v19-latin-600.woff') format('woff'), /* Modern Browsers */
          url('../fonts/Raleway/raleway-v19-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/Raleway/raleway-v19-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Raleway/raleway-v19-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
          url('../fonts/Raleway/raleway-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/Raleway/raleway-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/Raleway/raleway-v19-latin-700.woff') format('woff'), /* Modern Browsers */
          url('../fonts/Raleway/raleway-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/Raleway/raleway-v19-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}

body {
  font-family: var(--ffbody),sans-serif;
  font-display: swap;
}
h1,h2,h3 {
  font-family: var(--fftitle) ,sans-serif;
  font-display: swap;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #707070;
}
h1 strong {
  font-size: 1.4rem;
}
main h2{
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--secondary);
}
.hero h2 {
  font-size: 6.4rem;
  color: var(--primary);
}
.about h2 {
  color: var(--primary);
}
.review h2 {
  color: #fff;
}
h3 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--primary);
}
.main-service h3 {
  color: var(--secondary);
}
.last-post h3 {
  font-size: 4rem;
}
.slide-card .content p {
  text-align: center;
  font-weight: 400;
  font-size: 3.2rem;
}
.about p {
  color: #fff;
  font-weight: 400;
  font-size: 2.4rem;
}
.last-post p:first-child{
  font-size: 2.4rem;
}
.fact-info .fact-card p:first-child{
  font-weight: 700;
  font-size: 6.4rem;
}
.fact-info .fact-card p:last-child{
  font-weight: 700;
  font-size: 2.4rem;
  text-transform: uppercase;
}

/* ------------------------------------------- */
/* ---------------- CONTAINER ---------------- */
/* ------------------------------------------- */

.container {
    max-width: 32.5rem;
    margin: auto;
}

@media (min-width: 36em) {
    /* 36em * 16 = 576px */
    .container {
        max-width: 50rem;
    }
}

@media (min-width: 48em) {
    /* 48em * 16 = 768px */
    .container {
        max-width: 69rem;
    }
}

@media (min-width: 62em) {
    /* 62em * 16 = 992px */
    .container {
        max-width: 85rem;
    }
}

@media (min-width: 75em) {
    /* 75em * 16 = 1200px */
    .container {
        max-width: 100rem;
    }
}

@media (min-width: 105em) {
    .container {
        max-width: 128rem;
    }
}
/* ------------------------------------------- */
/* ----------------- HEADER ------------------ */
/* ------------------------------------------- */
header .container {
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 0;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-item {
    margin:0 4rem;
    padding: 1.5rem 2rem;
}
.menu-item a {
    font-weight: 700;
    text-decoration: none;
    color: var(--secondary);
}
.menu-item:hover {
    background-color: var(--primary);
}
.menu-item:hover a {
    color: #FFF;
}
/* .menu {
    transform: translateX(-100%);
    background-color: #fff;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 10000;
    pointer-events: none;
    transition: .3s;
}

.toggle-menu {
    position: relative;
    z-index: 10001;
    padding: 1rem 0;
    top: 1rem;
    left: 1rem;
    border: 0;
    width: 3rem;
    height: 2.2rem;
    background-color: #000;
    background-clip: content-box;
}
.toggle-menu::before, .toggle-menu::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 0.2rem;
    background-color: #000;
    transition: .3s;
    transform-origin: left center;
}

.toggle-menu::before {
    top: 0;
}

.toggle-menu::after {
    bottom: 0;
}

.toggle-menu[aria-expanded="true"] {
    background-color: rgba(0, 0, 0, 0);
}

.toggle-menu[aria-expanded="true"]::before {
    transform: rotate(42.5deg);
}

.toggle-menu[aria-expanded="true"]::after {
    transform: rotate(-42.5deg);
}

.menu:not([hidden]) {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
}
.no-scroll {
    overflow: hidden;
} */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    margin-right: 2rem;
}
h1 {
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------- */
/* ------------------ MAIN ------------------- */
/* ------------------------------------------- */

/* ~~~~~~~ HERO ~~~~~~~ */

.hero {
  min-height: 86vh;
  min-width: 100%;
  position: relative;
  overflow-x: hidden;
}
.hero .dots {
  padding-bottom: 8rem;
}
.slide-ctn {
  width: 100%;
  height: 100%;
}
.slide-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
}
.slide-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.685);
  z-index: -1;
}
.top {
  z-index: 3;
  transition: 0.5s ease transform;
}
.slide-card.active {
  z-index: 3;
  transform: translateX(0);
}
.slide-card.transition {
  transition: 0.5s ease transform;
}
.card-1,
.card-2,
.card-3,
.card-4 {
  background-image: url(../img/bcg_hero.png);
}

.buttons div {
  cursor: pointer;
  pointer-events: all;
}
.content {
  max-width: 104rem;
  text-align: center;
}
.dots {
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.dots .dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: var(--secondary);
  margin: 10px;
  transition: 0.3s ease width;
  cursor: pointer;
}
.dots .dot.active {
  background-color: var(--primary);
}
.buttons {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 10%;
  width: 80vw;
  height: auto;
  color: black;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.card-1 button {
  display: inline-block;
  padding: 15px 50px;
  font-size: 24px;
  outline: none;
  border: none;
  background-color: white;
  margin-top: 20px;
}
.next {
  transform: rotate(180deg);
}
@media (max-width: 768px) {
  .dots {
    left: 0;
    transform: translateX(0);
  }
}

/* ~~~~~~~ OUR SERVICES ~~~~~~~ */

.main-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 17rem 0;
}
.main-service {
  margin-bottom: 1.2rem;
}
.pagi {
  margin-bottom: 3rem;
}
.main-service p {
  margin-bottom: 5rem;
}
.pagi .pagi-item {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-color: var(--secondary);
  cursor: pointer;
}
.pagi .pagi-item:first-of-type {
  background-color: var(--primary);
}
.services-ctn {
  display: flex;
}
.services-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.services-card h3 {
  padding:3rem 0;
}
.services-card .img-serv-ctn {
  background-color: #EEEEEE;
  border-radius: 50%;
  padding: 3rem;
}
.services-card img {
  height: 5rem;
  width: 5rem;
}

/* ~~~~~~~ WHAT IS UBI ~~~~~~~ */

.about {
  background-image: url(../img/bcg-what-is-ubi.png);
  padding-top: 17rem;
  text-align: center;
}
.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .container p {
  padding: 5rem;
}

/* ~~~~~~~ LATEST POST ~~~~~~~ */

.last-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F9F9F9;
  padding: 17rem 0;
  text-align: center;
}
.last-post p:first-of-type {
  margin-bottom: 11.5rem;
}
.lp-ctn {
  column-count:3;
  column-gap: 4rem;
}

.lp-card {
  max-height: 60rem;
  padding: 3rem 3rem 5rem 3rem;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  overflow: hidden;
}
.lp-card:nth-child(odd) {
  margin-bottom: 10rem;
}
.lp-card img {
  margin-bottom: 7rem;
}
.lp-card h3 {
  margin-bottom: 3rem;
}

/* ~~~~~~~ FUN FACTS ~~~~~~~ */

.facts {
  position: relative;
  text-align: center;
  padding: 17rem 0;
}
.facts::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background-image: url(../img/Blog-3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: opacity(15%);
}
.facts *{
  position: relative;
}

.fact-info {
  display: flex;
}
.fact-card {
  margin: auto;
  text-transform: uppercase;
  font-weight: 700;
}
.fact-card p:first-child {
  color: var(--primary);
}

/* ~~~~~~~ REVIEW ~~~~~~~ */

.review {
  background-image: url(../img/bcg-review.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 17rem 0 8rem 0;
}
.review .container {
  display: flex;
}
.review .container:not(:nth-child(2)) {
  padding-bottom: 14rem;
}
.review img {
  border-radius: 50%;
  max-width: 22rem;
  margin-right: 5rem;
}
.review-content h2 {
  margin-bottom: 3rem;
}
.review .pagi {
  margin:auto;
  justify-content: center;
}
.review .pagi .pagi-item:not(:nth-child(2)){
  background-color: var(--secondary);
}
.review .pagi .pagi-item:nth-child(2){
  background-color: #fff;
}
.review .pagi .pagi-item:not(:last-child) {
  margin-right: 1rem;
}
/* ------------------------------------------- */
/* ----------------- FOOTER ------------------ */
/* ------------------------------------------- */
footer {
  background-color:var(--secondary) ;
  padding-top: 11rem;
}
footer h3 {
  text-transform: uppercase;
  margin-bottom: 3rem;
}
/* ~~~~~~~ Recents / tags / address ~~~~~~~ */
.top-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}
.address-ul li a,
.address-ul li p:last-child,
.footer-ul li a {
  text-decoration: none;
  color: #ccc;
}
.footer-ul li:not(:first-child) {
  margin-bottom: 3rem;
}
.footer-ul li a:before {
  content:url(../img/angle-double-right.svg);
  margin-right: 1rem;
}
.tags{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 23rem;
}
.tags li {
  margin-bottom: 1.2rem;
}
.tags li a {
  padding: .5rem 1.2rem;
  text-decoration: none;
  color:#ccc ;
  background-color: #444;
}
.address-ul li:not(:first-child) {
  margin-bottom: 4rem;
}
.address-ul li:nth-child(2) p::before {
  content:url(../img/map-marker.svg);
  margin-right: 1rem;
}
.address-ul li:nth-child(3) a::before {
  content:url(../img/phone.svg);
  margin-right: 1rem;
}
.address-ul li:last-child a::before {
  content:url(../img/envelope.svg);
  margin-right: 1rem;
}
/* ~~~~~~~ COPY / Social ~~~~~~~ */
.copy {
  display: flex;
  justify-content: space-between;
  color: #777;
  border-top: 1px solid #777;
  padding:3rem 0;
}
.social-ul {
  display: flex;
}
.social-ul li:first-child a::before {
  content:url(../img/icons8-facebook.svg);
}
.social-ul li:nth-child(2) a::before {
  content:url(../img/icons8-twitter.svg);
}
.social-ul li:nth-child(2) {
  margin: 0 3rem;
}
.social-ul li:last-child a::before {
  content:url(../img/icons8-google-plus.svg);
}
